.onload{
    background-color: green;
    width: fit-content;
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.onload:hover{
    background-color: rgb(0, 98, 0);
}

.register {
    box-shadow: 5px 6px 12px 2px #e3e3e3;
    padding: 15px;
    border-radius: 10px;
  }

  .heart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: tomato;
    cursor: pointer;
  }
  
  .avatar {
    height: 150px;
    object-fit: contain;
  }

  .card{
    width: 30%;
    border: 1x solid;
    height: 100px;
    background-color: burlywood;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    margin:  auto;
    margin-top: 100px;
    font-size: 20px;
  }